<html lang="en">
<head>
<title>Welcome to Metro-Real Drone Pick-Up Service</title>
<style>
h1 {
	text-align: center;
}

table {
	text-align: center;
}

tr {
	text-align: center;
}

td {
	text-align: center;
}

h3 {
	text-align: center;
}
</style>

</head>
<body style="background-image: url(drone-white.jpg)">
	<H1>Welcome to Metro-Real Drone Pick-Up Service</H1>
	<form action="getPath" method="post">
		<table>
			<tr>
				<td><label for="customer-name">Customer Name</label></td>
				<td><!--  <select><option value="51.211945, 6.770073">Kronprinzenstraße
							88, 40217 Düsseldorf</option>
						<option value="51.235368, 6.778357">Kaiserstraße 2, 40479
							Düsseldorf</option>
						<option value="51.227786, 6.759926">Wildenbruchstraße 2,
							40545 Düsseldorf</option>
						<option value="51.208248, 6.831037">Schlesische Straße 5,
							40231 Düsseldorf</option>
				</select> -->
				
				<td><input type="text" name="name"></input></td>
				</td>
				<td><label for="latitude">Latitude</label></td>
				<td><input type="text" name="latitude"></input></td>

				<td><label for="longitude">Longitude</label></td>
				<td><input type="text" name="longitude"></input></td>
			</tr>
			<!-- <tr>
				<td>
					<h3>Or</h3>
				</td>
			</tr> -->
			<tr>
				

			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit"></input></td>
			</tr>
		</table>
	</form>
</body>
</html>
